/* globals.css */

/* Import Tailwind base, components, and utilities */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Define custom fonts */
@font-face {
  font-family: 'SharpGrotesk';
  src:url('../fonts/SharpGrotesk-Book20.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Set the default font for the entire app */
body {
  font-family: 'SharpGrotesk', sans-serif;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


button:hover {
  color: #80e956;
  box-shadow:  0px 7px 29px 0px;
 }
 
.herobg {
  background-image: linear-gradient(
    0deg,
    hwb(120 0% 98%) 14%,
    hsl(117deg 55% 4%) 38%,
    hsl(113deg 52% 6%) 53%,
    hsl(109deg 50% 7%) 64%,
    hsl(110deg 50% 9%) 72%,
    hsl(112deg 53% 10%) 80%,
    hsl(112deg 58% 12%) 86%,
    hsl(110deg 63% 13%) 91%,
    hsl(108deg 69% 14%) 96%,
    hsl(105deg 76% 15%) 100%
  );
}
.herobgs{
  background-image: url("/bg.png");
  background-position: center;
  
}

.memempotsbg {
  background-image: linear-gradient(
    0deg,
    hsl(105deg 76% 15%) 0%,
    hsl(108deg 69% 14%) 2%,
    hsl(110deg 63% 13%) 4%,
    hsl(112deg 58% 12%) 7%,
    hsl(112deg 53% 10%) 11%,
    hsl(110deg 50% 9%) 17%,
    hsl(109deg 50% 7%) 27%,
    hsl(113deg 52% 6%) 41%,
    hsl(117deg 55% 4%) 63%,
    hsl(120deg 50% 1%) 100%
  );
}
